/* General Card Styles */
.card {
    width: 240px;
    height: 380px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  /* Card Image */
  .card-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
    z-index: 20;
  }

  .card-stamp {
    position: absolute; /* Position relative to the card */
    top: 0;          /* Align it to the bottom of the card */
    right: 0;            /* Align it to the left of the card */
    height: 100px;       /* Define the height */
    object-fit: cover;  /* Ensure the image covers the defined area */
    z-index: 2;         /* Ensure the image layers properly if needed */
}

.card-end {
  position: absolute; /* Position relative to the card */
  bottom: 0;          /* Align it to the bottom of the card */
  left: 0;            /* Align it to the left of the card */
  height: 100px;       /* Define the height */
  object-fit: cover;  /* Ensure the image covers the defined area */
  z-index: 1;         /* Ensure the image layers properly if needed */
}
  
  /* Card Content */
  .card-content {
    padding: 15px;
  }
  
  .card-title {
    font-size: 0.8rem;
    color: black;
    margin: 0;
  }  
  .card-bid {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    font-size: 0.6rem;
  }
  
  .left-text {
    color: #666;
    font-size: small;
    text-align: left;
  }
  
  .right-text {
    color: #666;
    font-size: small;
    text-align: right;
  }

  
  