body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
  }
  
  #root {
    height: 100%;
  }
  
  /* Header */
  .header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    color: black;
    padding: 10px 50px;

    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
  }

  .header-left {
    display: flex;
    align-items: center;
  }

  .header-homeicon {
    display: flex;
    width: 30px;
    height: 30px;
  }
  .header-title {
    display: flex;
    font-size: 30px;
    padding: 0 30px;
  }

  .header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header-right-item {
    display: flex;

    padding: 0 10px;
  }
  
  /* Sidebar */
  aside {
    width: 200px;
    background-color: #f0f0f0;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100%;
  }
  
  aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  aside ul li {
    margin: 10px 0;
  }
  
  aside ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    display: block;
    border-radius: 5px;
  }
  
  aside ul li a:hover {
    background-color: #ddd;
  }
  
  /* Main Content */
  main {
    flex-grow: 1;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  /* Footer */
  .footer {
    background-color: #f0f0f0;
    color: black;
    padding: 20px 10px;
    text-align: center;
    /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); */
    flex-shrink: 0;
  }
  
  /* Layout */
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-section {
    display: flex;
    flex-grow: 1;
    height: auto;
    overflow-y: auto;
  }

  /* Basic Button Styles */
.button {
    /* display: inline-block; */
    width: auto;
    font-size: 12px; /* Font size */
    text-align: center; /* Center the text */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    color: black;
    background-color: transparent;
    border: 0.5px solid black; 
    padding: 5px 10px;
    margin: 0 10px;
  }
  
  /* Hover Effect */
  .button:hover {
    transform: scale(1.05); /* Slightly enlarge */
  }
  
  /* Focus Effect */
  .button:focus {
    outline-offset: 2px; /* Space between outline and button */
  }
  
  /* Disabled Button */
  .button:disabled {
    background-color: #cccccc; /* Light gray background */
    cursor: not-allowed; /* Not-allowed cursor */
    color: #666666; /* Gray text */
  }

  .header-usericon {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 0 10px;
  }

  /* Container for the user menu */
.user-menu-container {
    position: relative; /* Relative position for absolute menu positioning */
    display: inline-block;
  }
  
  /* User icon styling */
  .user-icon {
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
  }
  
  .user-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Popup menu styling */
  .popup-menu {
    position: absolute;
    top: 45px; /* Adjust position below the user icon */
    right: 0; /* Align menu to the right */
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 140px;
    z-index: 1000;
  }
  
  .popup-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
  }
  
  .popup-menu li {
    padding: 10px 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .popup-menu li:hover {
    background-color: #f0f0f0;
  }

  .popup-menu-item {
    display: flex;
    align-items: center;
  }

  .popup-menu-item img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }
  .popup-menu-item text {
    font-size: 12px;
  }

  .hr {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
    border: none; /* Optional: Remove default border if needed */
    border-top: 1px solid #ddd; /* Custom border styling */
  }

  .pagetitle {
    font-size: 13px;
    margin: 10px 0;
    color: #515151;
    text-align: left;
  }
  .pagetitle hr {
    margin: 0; /* Remove margin */
    padding: 5; /* Remove padding */
    border: none; /* Optional: Remove default border if needed */
    border-top: 0.5px solid #ddd; /* Custom border styling */
    height: 0.5px;
  }

  .pagetitle-icon {
    width: 15px;
    height: 15px;
    /* margin-right: 10px; */
  }

  
  